{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="css/slider.css">


{% endblock %}


{% block body %}

    <div class="back">
        <div class="container">
            <div class="jumbotron mt-5">
                <h1 class="display-3">CryptoAgency</h1>
                <p class="lead">L'endroit ideal pour la gestion de cryptomonnaie</p>
                <hr class="my-4">
                <p>Venez gerer une multitude de cryptomonnaie en quelques minutes</p>
            </div>
        </div>
    </div>
{% endblock %}
